<footer class="main-footer bg-unipi">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        <environment names="Development, Staging">
            @*<a href="@Url.Action("Changelog","Home", null)">CHANGELOG</a> -*@
        </environment>
    </div>
  
</footer>